
/* This file is used exclusively for styling the sample/tutorial index.html and is NOT NECESSARY in implementation in your own projects! */

body { 
	background: #ecebe6;
	color: #4c4c40;
	font-family: 'Vollkorn', serif; 

}

.wrapper { 
	margin: 1em;
	width: 660px; }

h1 {
	color: #f33a1e;
	font-size: 42px;
	font-style: italic;
	margin-bottom: .5em;
}

h2 { 
	color: #f33a1e;
	font-size: 24px; 
	margin-top: 40px;
	text-transform: capitalize;
}

h3 { margin-top: 30px;}

p, li { 
	font-size: 15px;
	line-height: 1.5em;
}

li { 
	color: #777;
	font-style: italic;
	margin-bottom: .5em;
}

p strong { margin-right: .5em; }

li strong {
	color: #4c4c40;
	display: block;
	font-weight: 400;
	font-style: normal;
}

em { 
	display:block;
	color: #777;
	font-size: 13px;
	padding: 1em;
}

code { 
	border-left: 1px dotted #aaa;
	display: block;
	font-size: 12px;
	margin: .5em 0 .5em 1em;
	padding-left: 1em;
}

table {
	border: 0;
	margin: 0;
	padding: 0;
	width: 660px;
}

table th {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	font-size: 14px;
	padding: 0 10px;
	text-align: left;
}

table td {
	border-right: 1px solid #ccc;
	font-size: 14px;
	padding: 5px 10px;
}

table th:first-child, table td:first-child {
	padding-left: 0;
}

table th:last-child, table td:last-child {
	padding-right: 0;
	border-right: 0;
}
